<?xml version="1.0" encoding="UTF-8" ?>
<TG_Config Version=1.0a>
  <Profile>
    <Name>Lumen Lab CNC 12" x 12"</Name>
    <Version>1.0a</Version>
    <URL><![CDATA[http://lumenlab.com/d/index.php]]></URL>
    <UUID>27967860-bf91-11df-851a-0800200c9a66</UUID>
    <Description><![CDATA[This is used for the Lumen Lab's 12" x 12" mini CNC Machine.  The Y axis is double mapped to motor ports 1 & 2.]]></Description>

    <Initalization  = True>
      <homing_cycle>True</homing_cycle>
      <auto_calibrate>False</auto_calibrate>
      <auto_execute>False</auto_execute>
    </Initalization>
    
    <TG_Board_Count>1</TG_Board_Count>
    <Master_Board>1</Master_Board>
      
      <Board Number = 1>
        <MOTOR Number = 1>
          <info>This is a NEMA17 65oz. Motor</info>
          <description>The Y Axis Stepper Motor</description>
          <axis_map>Y</axis_map>
          <mm_arc_segment>.1</mm_arc_segment>
          <seek_steps_sec>1800</seek_steps_sec>
          <feed_steps>1200</feed_steps>
          <degree_step>1.8</degree_step>
          <mm_rev>2.54</mm_rev>
          <mm_travel>406</mm_travel>
          <microstep>8</microstep>
          <polarity_invert>0</polarity_invert>
          <low_pwr_idle>1</low_pwr_idle>
          <limit_enable>1</limit_enable>
          <encoder_enable>0</encoder_enable>
        </MOTOR>
          
        <MOTOR Number = 2>
          <info>This is a NEMA17 65oz. Motor</info>
          <description>The Y Axis Stepper Motor</description>
          <axis_map>Y</axis_map>
          <mm_arc_segment>.1</mm_arc_segment>
          <seek_steps_sec>1800</seek_steps_sec>
          <feed_steps>1200</feed_steps>
          <degree_step>1.8</degree_step>
          <mm_rev>2.54</mm_rev>
          <mm_travel>406</mm_travel>
          <microstep>8</microstep>
          <polarity_invert>0</polarity_invert>
          <low_pwr_idle>1</low_pwr_idle>
          <limit_enable>1</limit_enable>
          <encoder_enable>0</encoder_enable>
        </MOTOR>
          
        <MOTOR Number = 3>
          <info>This is a NEMA17 65oz. Motor</info>
          <description>The X Axis Stepper Motor</description>
          <axis_map>X</axis_map>
          <mm_arc_segment>.1</mm_arc_segment>
          <seek_steps_sec>1800</seek_steps_sec>
          <feed_steps>1200</feed_steps>
          <degree_step>1.8</degree_step>
          <mm_rev>2.54</mm_rev>
          <mm_travel>406</mm_travel>
          <microstep>8</microstep>
          <polarity_invert>0</polarity_invert>
          <low_pwr_idle>1</low_pwr_idle>
          <limit_enable>1</limit_enable>
          <encoder_enable>0</encoder_enable>
        </MOTOR>
            
        <MOTOR Number = 4>
          <info>This is a NEMA17 65oz. Motor</info>
          <description>The Z Axis Stepper Motor</description>
          <axis_map>Z</axis_map>
          <mm_arc_segment>.1</mm_arc_segment>
          <seek_steps_sec>1800</seek_steps_sec>
          <feed_steps>1200</feed_steps>
          <degree_step>1.8</degree_step>
          <mm_rev>2.54</mm_rev>
          <mm_travel>406</mm_travel>
          <microstep>8</microstep>
          <polarity_invert>0</polarity_invert>
          <low_pwr_idle>1</low_pwr_idle>
          <limit_enable>1</limit_enable>
      </MOTOR>
    </Board>
</Profile>
  
</TG_Config>